<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="#"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Mensaje de bienvenida -->
  <ion-text *ngIf="usuario">
    <h2>Bienvenido, {{ usuario.username }}!</h2>
  </ion-text>

  <!-- Botón para ver campeones -->
  <ion-button expand="full" routerLink="/campeones-list">Lista de Campeones</ion-button>
  
  <!-- Botón para crear usuario -->
  <ion-button *ngIf="obtenerAdministrador()" expand="block" routerLink="/crear-usuario">Crear Usuario</ion-button>
</ion-content>