<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Crear Usuario</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-text color="danger" *ngIf="errorMessage">{{ errorMessage }}</ion-text>

  <ion-item>
    <ion-label position="stacked">Nombre</ion-label>
    <ion-input [(ngModel)]="nombre" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Apellido</ion-label>
    <ion-input [(ngModel)]="apellido" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Edad</ion-label>
    <ion-input [(ngModel)]="edad" type="number"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Correo</ion-label>
    <ion-input [(ngModel)]="correo" type="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Nombre de Usuario</ion-label>
    <ion-input [(ngModel)]="username" type="text"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Contraseña</ion-label>
    <ion-input [(ngModel)]="password" type="password"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Rol</ion-label>
    <ion-select [(ngModel)]="role">
      <ion-select-option value="ayudante de foro">Ayudante de Foro</ion-select-option>
      <ion-select-option value="administrador">Administrador</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button expand="block" (click)="crearUsuario()">Crear Usuario</ion-button>
</ion-content>