<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Crear Cuenta</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input type="text" formControlName="nombre" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Apellido</ion-label>
          <ion-input type="text" formControlName="apellido" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Edad</ion-label>
          <ion-input type="number" formControlName="edad" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Correo</ion-label>
          <ion-input type="email" formControlName="correo" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Nombre de Usuario</ion-label>
          <ion-input type="text" formControlName="username" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" formControlName="password" required></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Confirmar Contraseña</ion-label>
          <ion-input type="password" formControlName="confirmPassword" required></ion-input>
        </ion-item>

        <ion-button expand="block" type="submit">Registrar</ion-button>

        <!-- Botón para redirigir al login -->
        <ion-button expand="block" fill="clear" (click)="navigateToLogin()">
          ¿Ya tienes cuenta? Ingresar aquí
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
